In [65]:
import pandas as pd
import numpy as np
import datetime

In [66]:
jan_2018 = "data/2018/jan_2018.csv"
feb_2018 = "data/2018/feb_2018.csv"
mar_2018 = "data/2018/mar_2018.csv"
apr_2018 = "data/2018/apr_2018.csv"
may_2018 = "data/2018/may_2018.csv"
june_2018 = "data/2018/june_2018.csv"
july_2018 = "data/2018/july_2018.csv"
aug_2018 = "data/2018/aug_2018.csv"
sept_2018 = "data/2018/sept_2018.csv"
oct_2018 = "data/2018/oct_2018.csv"
nov_2018 = "data/2018/nov_2018.csv"
dec_2018 = "data/2018/dec_2018.csv"

In [67]:
jan_2018_df = pd.read_csv(jan_2018)
feb_2018_df = pd.read_csv(feb_2018)
mar_2018_df = pd.read_csv(mar_2018)
apr_2018_df = pd.read_csv(apr_2018)
may_2018_df = pd.read_csv(may_2018)
june_2018_df = pd.read_csv(june_2018)
july_2018_df = pd.read_csv(july_2018)
aug_2018_df = pd.read_csv(aug_2018)
sept_2018_df = pd.read_csv(sept_2018)
oct_2018_df = pd.read_csv(oct_2018)
nov_2018_df = pd.read_csv(nov_2018)
dec_2018_df = pd.read_csv(dec_2018)

jan_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [68]:
citibike_2018_df = pd.concat([jan_2018_df, feb_2018_df, mar_2018_df, apr_2018_df, may_2018_df, june_2018_df, july_2018_df, aug_2018_df, sept_2018_df, oct_2018_df, nov_2018_df, dec_2018_df ])

citibike_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [69]:
citibike_2018_df['Dates'] = pd.to_datetime(citibike_2018_df['starttime']).dt.date
citibike_2018_df['startTime'] = pd.to_datetime(citibike_2018_df['starttime']).dt.time
citibike_2018_df['endTime'] = pd.to_datetime(citibike_2018_df['stoptime']).dt.time
citibike_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,2018-01-01,02:06:17.541000,02:21:50.027000
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,2018-01-01,12:06:18.039000,12:15:28.443000
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,2018-01-01,12:06:56.978000,12:15:27.810000
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,2018-01-01,14:53:10.186000,14:59:05.096000
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,2018-01-01,17:34:30.192000,17:38:40.984000

In [70]:
citibike_2018_df['Year'] = pd.to_datetime(citibike_2018_df['Dates']).dt.year
citibike_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,2018-01-01,02:06:17.541000,02:21:50.027000,2018
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,2018-01-01,12:06:18.039000,12:15:28.443000,2018
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,2018-01-01,12:06:56.978000,12:15:27.810000,2018
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,2018-01-01,14:53:10.186000,14:59:05.096000,2018
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,2018-01-01,17:34:30.192000,17:38:40.984000,2018

In [71]:
citibike_2018_df['Day of Week'] = pd.to_datetime(citibike_2018_df['Dates']).dt.weekday_name
citibike_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,2018-01-01,02:06:17.541000,02:21:50.027000,2018,Monday
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,2018-01-01,12:06:18.039000,12:15:28.443000,2018,Monday
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,2018-01-01,12:06:56.978000,12:15:27.810000,2018,Monday
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,2018-01-01,14:53:10.186000,14:59:05.096000,2018,Monday
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,2018-01-01,17:34:30.192000,17:38:40.984000,2018,Monday

In [72]:
citibike_2018_df.loc[(citibike_2018_df['gender'] == 1, 'gender')] = 'Male'
citibike_2018_df.loc[(citibike_2018_df['gender'] == 2, 'gender')] = 'Female'
citibike_2018_df.loc[(citibike_2018_df['gender'] == 0, 'gender')] = 'Unknown'
citibike_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,Male,2018-01-01,02:06:17.541000,02:21:50.027000,2018,Monday
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,Female,2018-01-01,12:06:18.039000,12:15:28.443000,2018,Monday
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,Male,2018-01-01,12:06:56.978000,12:15:27.810000,2018,Monday
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,Male,2018-01-01,14:53:10.186000,14:59:05.096000,2018,Monday
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,Male,2018-01-01,17:34:30.192000,17:38:40.984000,2018,Monday

In [73]:
citibike_2018_df['tripDuration_minutes'] = citibike_2018_df['tripduration']/60
citibike_2018_df['tripDuration_minutes'] = citibike_2018_df['tripDuration_minutes'].round(decimals = 2)
citibike_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week,tripDuration_minutes
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,31929,Subscriber,1992,Male,2018-01-01,02:06:17.541000,02:21:50.027000,2018,Monday,15.53
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,31845,Subscriber,1969,Female,2018-01-01,12:06:18.039000,12:15:28.443000,2018,Monday,9.17
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,31708,Subscriber,1946,Male,2018-01-01,12:06:56.978000,12:15:27.810000,2018,Monday,8.50
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,31697,Subscriber,1994,Male,2018-01-01,14:53:10.186000,14:59:05.096000,2018,Monday,5.90
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,...,31861,Subscriber,1991,Male,2018-01-01,17:34:30.192000,17:38:40.984000,2018,Monday,4.17

In [74]:
citibike_2018_df.to_csv("data/2018/citibike_2018.csv")