In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
jan_2019 = "data/2019/jan_2019.csv"
feb_2019 = "data/2019/feb_2019.csv"
mar_2019 = "data/2019/mar_2019.csv"
apr_2019 = "data/2019/apr_2019.csv"
may_2019 = "data/2019/may_2019.csv"
june_2019 = "data/2019/june_2019.csv"
july_2019 = "data/2019/july_2019.csv"
aug_2019 = "data/2019/aug_2019.csv"
sept_2019 = "data/2019/sept_2019.csv"
oct_2019 = "data/2019/oct_2019.csv"
nov_2019 = "data/2019/nov_2019.csv"
dec_2019 = "data/2019/dec_2019.csv"

In [3]:
jan_2019_df = pd.read_csv(jan_2019)
feb_2019_df = pd.read_csv(feb_2019)
mar_2019_df = pd.read_csv(mar_2019)
apr_2019_df = pd.read_csv(apr_2019)
may_2019_df = pd.read_csv(may_2019)
june_2019_df = pd.read_csv(june_2019)
july_2019_df = pd.read_csv(july_2019)
aug_2019_df = pd.read_csv(aug_2019)
sept_2019_df = pd.read_csv(sept_2019)
oct_2019_df = pd.read_csv(oct_2019)
nov_2019_df = pd.read_csv(nov_2019)
dec_2019_df = pd.read_csv(dec_2019)

jan_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [4]:
citibike_2019_df = pd.concat([jan_2019_df, feb_2019_df, mar_2019_df, apr_2019_df, may_2019_df, june_2019_df, july_2019_df, aug_2019_df, sept_2019_df, oct_2019_df, nov_2019_df, dec_2019_df ])

citibike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
citibike_2019_df['Dates'] = pd.to_datetime(citibike_2019_df['starttime']).dt.date
citibike_2019_df['startTime'] = pd.to_datetime(citibike_2019_df['starttime']).dt.time
citibike_2019_df['endTime'] = pd.to_datetime(citibike_2019_df['stoptime']).dt.time
citibike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.711000,03:12:30.879000
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.106000,05:26:25.905000
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.340000,10:49:10.260000
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.643000,13:09:54.528000
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.601000,13:09:46.510000

In [6]:
citibike_2019_df['Year'] = pd.to_datetime(citibike_2019_df['Dates']).dt.year
citibike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.711000,03:12:30.879000,2019
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.106000,05:26:25.905000,2019
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.340000,10:49:10.260000,2019
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.643000,13:09:54.528000,2019
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.601000,13:09:46.510000,2019

In [7]:
citibike_2019_df['Day of Week'] = pd.to_datetime(citibike_2019_df['Dates']).dt.weekday_name
citibike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.711000,03:12:30.879000,2019,Tuesday
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.106000,05:26:25.905000,2019,Tuesday
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.340000,10:49:10.260000,2019,Tuesday
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.643000,13:09:54.528000,2019,Tuesday
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.601000,13:09:46.510000,2019,Tuesday

In [8]:
citibike_2019_df.loc[(citibike_2019_df['gender'] == 1, 'gender')] = 'Male'
citibike_2019_df.loc[(citibike_2019_df['gender'] == 2, 'gender')] = 'Female'
citibike_2019_df.loc[(citibike_2019_df['gender'] == 0, 'gender')] = 'Unknown'
citibike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01,03:09:09.711000,03:12:30.879000,2019,Tuesday
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01,05:18:00.106000,05:26:25.905000,2019,Tuesday
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01,10:36:33.340000,10:49:10.260000,2019,Tuesday
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01,12:43:38.643000,13:09:54.528000,2019,Tuesday
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01,12:43:39.601000,13:09:46.510000,2019,Tuesday

In [9]:
citibike_2019_df['tripDuration_minutes'] = citibike_2019_df['tripduration']/60
citibike_2019_df['tripDuration_minutes'] = citibike_2019_df['tripDuration_minutes'].round(decimals = 2)
citibike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week,tripDuration_minutes
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,29612,Subscriber,1993,Male,2019-01-01,03:09:09.711000,03:12:30.879000,2019,Tuesday,3.35
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,29213,Subscriber,1972,Female,2019-01-01,05:18:00.106000,05:26:25.905000,2019,Tuesday,8.42
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,...,26164,Subscriber,1985,Male,2019-01-01,10:36:33.340000,10:49:10.260000,2019,Tuesday,12.60
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,29672,Customer,1969,Unknown,2019-01-01,12:43:38.643000,13:09:54.528000,2019,Tuesday,26.25
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,29522,Customer,1969,Unknown,2019-01-01,12:43:39.601000,13:09:46.510000,2019,Tuesday,26.10

In [10]:
citibike_2019_df.to_csv("data/2019/citibike_2019.csv")