In [54]:
import pandas as pd
import numpy as np
import datetime

In [55]:
jan_2017 = "data/2017/jan_2017.csv"
feb_2017 = "data/2017/feb_2017.csv"
mar_2017 = "data/2017/mar_2017.csv"
apr_2017 = "data/2017/apr_2017.csv"
may_2017 = "data/2017/may_2017.csv"
june_2017 = "data/2017/june_2017.csv"
july_2017 = "data/2017/july_2017.csv"
aug_2017 = "data/2017/aug_2017.csv"
sept_2017 = "data/2017/sept_2017.csv"
oct_2017 = "data/2017/oct_2017.csv"
nov_2017 = "data/2017/nov_2017.csv"
dec_2017 = "data/2017/dec_2017.csv"

In [56]:
jan_2017_df = pd.read_csv(jan_2017)
feb_2017_df = pd.read_csv(feb_2017)
mar_2017_df = pd.read_csv(mar_2017)
apr_2017_df = pd.read_csv(apr_2017)
may_2017_df = pd.read_csv(may_2017)
june_2017_df = pd.read_csv(june_2017)
july_2017_df = pd.read_csv(july_2017)
aug_2017_df = pd.read_csv(aug_2017)
sept_2017_df = pd.read_csv(sept_2017)
oct_2017_df = pd.read_csv(oct_2017)
nov_2017_df = pd.read_csv(nov_2017)
dec_2017_df = pd.read_csv(dec_2017)

dec_2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,2017-12-01 00:00:59,2017-12-01 00:08:32,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,2017-12-01 00:04:42,2017-12-01 00:07:21,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,2017-12-01 00:17:00,2017-12-01 00:19:55,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,2017-12-01 00:50:22,2017-12-01 00:57:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,2017-12-01 00:55:03,2017-12-01 01:06:13,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1

In [57]:
citibike_2017_df = pd.concat([jan_2017_df, feb_2017_df, mar_2017_df, apr_2017_df, may_2017_df, june_2017_df, july_2017_df,
                             aug_2017_df, sept_2017_df, oct_2017_df, nov_2017_df, dec_2017_df])
citibike_2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [58]:
citibike_2017_df['Dates'] = pd.to_datetime(citibike_2017_df['starttime']).dt.date
citibike_2017_df['startTime'] = pd.to_datetime(citibike_2017_df['starttime']).dt.time
citibike_2017_df['endTime'] = pd.to_datetime(citibike_2017_df['stoptime']).dt.time
citibike_2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1,2017-01-01,00:21:32,00:24:01
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1,2017-01-01,00:24:35,00:45:58
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1,2017-01-01,00:38:19,00:44:31
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1,2017-01-01,00:38:37,01:03:50
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1,2017-01-01,01:47:52,01:58:31

In [59]:
citibike_2017_df['Year'] = pd.to_datetime(citibike_2017_df['Dates']).dt.year
citibike_2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1,2017-01-01,00:21:32,00:24:01,2017
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1,2017-01-01,00:24:35,00:45:58,2017
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1,2017-01-01,00:38:19,00:44:31,2017
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1,2017-01-01,00:38:37,01:03:50,2017
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1,2017-01-01,01:47:52,01:58:31,2017

In [60]:
citibike_2017_df['Day of Week'] = pd.to_datetime(citibike_2017_df['Dates']).dt.weekday_name
citibike_2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1,2017-01-01,00:21:32,00:24:01,2017,Sunday
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1,2017-01-01,00:24:35,00:45:58,2017,Sunday
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1,2017-01-01,00:38:19,00:44:31,2017,Sunday
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1,2017-01-01,00:38:37,01:03:50,2017,Sunday
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1,2017-01-01,01:47:52,01:58:31,2017,Sunday

In [61]:
citibike_2017_df.loc[(citibike_2017_df['gender'] == 1, 'gender')] = 'Male'
citibike_2017_df.loc[(citibike_2017_df['gender'] == 2, 'gender')] = 'Female'
citibike_2017_df.loc[(citibike_2017_df['gender'] == 0, 'gender')] = 'Unknown'
citibike_2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,Male,2017-01-01,00:21:32,00:24:01,2017,Sunday
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,Male,2017-01-01,00:24:35,00:45:58,2017,Sunday
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,Male,2017-01-01,00:38:19,00:44:31,2017,Sunday
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,Male,2017-01-01,00:38:37,01:03:50,2017,Sunday
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,Male,2017-01-01,01:47:52,01:58:31,2017,Sunday

In [62]:
citibike_2017_df['tripDuration_minutes'] = citibike_2017_df['tripduration']/60
citibike_2017_df['tripDuration_minutes'] = citibike_2017_df['tripDuration_minutes'].round(decimals = 2)
citibike_2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week,tripDuration_minutes
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,...,24575,Subscriber,1983.0,Male,2017-01-01,00:21:32,00:24:01,2017,Sunday,2.47
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,...,24723,Subscriber,1978.0,Male,2017-01-01,00:24:35,00:45:58,2017,Sunday,21.38
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,...,24620,Subscriber,1989.0,Male,2017-01-01,00:38:19,00:44:31,2017,Sunday,6.20
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,...,24668,Subscriber,1961.0,Male,2017-01-01,00:38:37,01:03:50,2017,Sunday,25.22
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,...,26167,Subscriber,1993.0,Male,2017-01-01,01:47:52,01:58:31,2017,Sunday,10.65

In [63]:
citibike_2017_df.to_csv("data/2017/citibike_2017.csv")