In [65]:
import pandas as pd

citibike_2017 = "data/2017/citibike_2017.csv"
citibike_2018 = "data/2018/citibike_2018.csv"
citibike_2019 = "data/2019/citibike_2019.csv"

citibike_2017_df = pd.read_csv(citibike_2017)
citibike_2018_df = pd.read_csv(citibike_2018)
citibike_2019_df = pd.read_csv(citibike_2019)

citibike_2019_df.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,...,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week,tripDuration_minutes
0,0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,...,29612,Subscriber,1993,Male,2019-01-01,03:09:09.711000,03:12:30.879000,2019,Tuesday,3.35
1,1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,...,29213,Subscriber,1972,Female,2019-01-01,05:18:00.106000,05:26:25.905000,2019,Tuesday,8.42
2,2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,...,26164,Subscriber,1985,Male,2019-01-01,10:36:33.340000,10:49:10.260000,2019,Tuesday,12.60
3,3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,...,29672,Customer,1969,Unknown,2019-01-01,12:43:38.643000,13:09:54.528000,2019,Tuesday,26.25
4,4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,...,29522,Customer,1969,Unknown,2019-01-01,12:43:39.601000,13:09:46.510000,2019,Tuesday,26.10

In [68]:
citibike_2017thru2019_df = pd.concat([citibike_2017_df, citibike_2018_df, citibike_2019_df])

citibike_2017thru2019_df.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,...,bikeid,usertype,birth year,gender,Dates,startTime,endTime,Year,Day of Week,tripDuration_minutes
0,0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,...,24575,Subscriber,1983.0,Male,2017-01-01,00:21:32,00:24:01,2017,Sunday,2.47
1,1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,...,24723,Subscriber,1978.0,Male,2017-01-01,00:24:35,00:45:58,2017,Sunday,21.38
2,2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,...,24620,Subscriber,1989.0,Male,2017-01-01,00:38:19,00:44:31,2017,Sunday,6.20
3,3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,...,24668,Subscriber,1961.0,Male,2017-01-01,00:38:37,01:03:50,2017,Sunday,25.22
4,4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,...,26167,Subscriber,1993.0,Male,2017-01-01,01:47:52,01:58:31,2017,Sunday,10.65

In [69]:
citibike_2017thru2019_df.to_csv("data/citibike_2017-2019.csv")